{% use '/interNav.html.twig' %}
{% use '/service.html.twig' %}

{% block meta %}
{{ parent() }}
{% endblock %}
{% block navbar %}
{{ parent() }}
{% endblock %}

<div align="center" style="padding: 10%;">
<h1 style="color: lime;">Спасибо за покупку!</h1>
<h2>Приходите ещё!</h2>
</div>