<div class="alert alert-light" style="color: black;">
<b>Адрес:</b></br>{{ adress }}{% if adress!=true %}Уточняйте адрес{% endif %}
</div>
<div class="alert alert-light" style="color: black;">
<b>Контакты:</b></br>{{ contact }}
</div>